@page "{id:guid}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<partial name="_ArticlesFormPartial" model="Model.Article"/>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

